<!--The content below is only a placeholder and can be replaced.-->
<div id="tree-container" class="tree-container p-2 m-3">
    <tree [data]="tree" [debounceTime]="200" *ngIf="tree">
        <div style="display: flex; font-weight: bold; text-align: center">
            <div style="width: 7rem; padding: 0 .2rem 0 .2rem; margin-left: auto;
             border: 1px solid #dee2e6; border-right: 0; border-top-left-radius: 0.25rem">Sales</div>
                <div style="width: 7rem; padding: 0 .2rem 0 .2rem; 
                border: 1px solid #dee2e6; border-top-right-radius: 0.25rem">% of Total</div>
        </div>
    </tree>
</div>
